<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GT Boxing Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="    https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">

</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>

<script>
    let exists = "{{ exists }}";
    let err = "{{ error }}";
    if (exists === "True"){
        alert("Marked as Here");
    }else if (exists === "False"){
        alert("No Record Found");
    }
    if (err !== "None"){
        alert("Contact the Administrator. The Following Error has occured + \n" + err);
    }

    $(document).ready( function () {
        var selected = $('.dataframe');
        selected.addClass("table table-striped table-bordered table-sm");
        selected.DataTable({"scrollX": true});
    } );

</script>
<body>
    <div class="container">
        {{ table_visual|safe }}
    </div>
    <div class="container">
        <div class="row">

            {% if date_initialized  %}
                <div class="col col-sm">
                    <form action="" method="POST">
                        Scanner Input:
                        <input type="text" value="" name="scannerInput" autofocus>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            {% else %}
                <div class="col col-sm">
                    <form action="/set-date-today" method="POST">
                        <input type="submit" class="btn btn-success" value="Start Session">
                    </form>
                </div>
            {% endif %}

                <div class="col col-sm">
                    <form action="/terminate" method="GET">
                        <input type="submit" class="btn btn-danger" value="End Session">
                    </form>
                </div>
        </div>

    </div>

    <br><br>
    <br><br>
    <div class="container">
          <div class="row">
            <div class="col-xs">
                <h4>Add a Person to Roster</h4>
                <form action="/add-new-person" method="POST">
                       <div class="row">
                         <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Enter Name">
                         </div>
                         <div class="col">
                            <input type="text" name="gtid" class="form-control" placeholder="Enter GTID">
                         </div>
                      </div>
                    <button type="submit" class="btn btn-info">Add New Member</button>
                </form>
            </div>
          </div>
    </div>
    <br><br>
    <br><br>

</body>
</html>